/* /* .back-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  color: #6c63ff;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 15px;
}

.back-btn:hover {
  color: #4b42d6;
} */

/* 
.back-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  color: #6c63ff;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 15px;
}

.back-btn:hover {
  color: #4b42d6;
}  */